<launch>

	<arg name="rviz" default="true" />

	<rosparam command="load" file="$(find fast_livo)/config/Newer_College.yaml" />

	<node pkg="fast_livo" type="fastlivo_mapping" name="laserMapping" output="screen" >
		<rosparam file="$(find fast_livo)/config/camera_Newer_College.yaml" />
	</node>
	
	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_livo)/rviz_cfg/loam_livox_ouster.rviz" />
	</group>
	<node pkg="image_transport" type="republish" name="republish" args="compressed in:=/alphasense_driver_ros/cam1 raw out:=/alphasense_driver_ros/cam1" output="screen" respawn="true"/>

launch-prefix="gdb -ex run --args"
</launch> 	
