<launch>

	<arg name="rviz" default="true" />

	<!-- <arg name="bag_start"   default="200" />
    <arg name="bag_durr"    default="470" />  -->
    <!-- <arg name="dataset"     default="HKisland01" />  -->

	<arg name="bag_start"   default="137" />
	<!-- <arg name="bag_start"   default="134" /> -->
    <arg name="bag_durr"    default="503" /> 
    <arg name="dataset"     default="HKisland_GNSS01" /> 

	
    <arg name="bag_rate"    default="1" />
    <arg name="dobag"       default="false" /> <!-- if we should play back the bag -->
    <arg name="bag"         default="/home/zzwu/Desktop/dataset/HKU_MARS/$(arg dataset).bag" />
    
    <arg name="img_enable"  default="1" />
    <arg name="dense_map_enable"  default="1" />

	<rosparam command="load" file="$(find fast_livo)/config/HKU_MARS.yaml" />
	<param name="img_enable" type="int" value="$(arg img_enable)"/>
    <param name="dense_map_enable" type="int" value="$(arg dense_map_enable)"/>

	<node pkg="fast_livo" type="fastlivo_mapping" name="laserMapping" output="screen" >
		<rosparam file="$(find fast_livo)/config/camera_HKU_MARS.yaml" />
	</node>

	<!-- play the dataset -->
    <group if="$(arg dobag)">
        <node pkg="rosbag" type="play" name="rosbag" args="-d 5 -r $(arg bag_rate) -s $(arg bag_start) -u $(arg bag_durr) $(arg bag)" required="true"/>
    </group>

	
	<group if="$(arg rviz)">
		<!-- <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_livo)/rviz_cfg/loam_livox.rviz" /> -->
		<group if="$(arg img_enable)">
            <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_livo)/rviz_cfg/loam_livox.rviz" />
        </group>
        <group unless="$(arg img_enable)">
            <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_livo)/rviz_cfg/loam_livox_lio.rviz" />
        </group>
	</group>
	<node pkg="image_transport" type="republish" name="republish1" args="compressed in:=/left_camera/image raw out:=/left_camera/image" output="screen" respawn="true"/>
	<node pkg="image_transport" type="republish" name="republish2" args="compressed in:=/left_camera/image raw out:=/rgb_img" output="screen" respawn="true"/>

launch-prefix="gdb -ex run --args"
</launch> 	
